<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
</head>

<body>
    <form method="post" th:action="@{/currency-calculator}" th:object="${calculatorForm}" style="width:20%">
        <div class="form-group">
        <label for="amount">Amount to convert (EUR)</label>
        <input id="amount" placeholder="Enter the amount to convert" required type="text" th:field="*{Amount}"
            class="form-control" />
        <div class="alert alert-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
        </div>

        <div class="form-group">
            <label for="currency">Currency</label>
            <select id="currency" required th:field="*{Currency}" class="form-control ">
                <option value="" hidden>Select a currency</option>
                <option th:each="currency : ${currenciesList}" th:value="${currency}" th:text="${currency}">
                </option>
            </select>
        </div>
        <br/>
        <input type="submit" class="btn btn-primary" value="Calculate" />
    </form>
    <br/>
    <div th:if="${converted}">
        <p th:text="|Converted amount: ${#numbers.formatDecimal(converted, 1, 2)} ${rate.currency}|"></p>
        <p th:text="|Used Rate: ${rate.rate}|"></p>
    </div>
    
</body>

</html>